html,
body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(100, 100, 100);
}
h1 {
  background-color: rgb(255, 203, 255);
  text-align: center;
  border-radius: 5px 5px 0 0;
  font-size: 30px;
  color: white;
}
h2 {
  background-color: rgb(255, 178, 255);
  text-align: center;
  font-size: 25px;
  color: white;
}

.Sortingbuttons {
  text-align: center;
  background-color: rgb(255, 174, 248);
}
.Sortingbuttons #waifu {
  border-radius: 20px;
  width: 100px;
}

.Sortingbuttons #sources, #waifu {
  border-radius: 20px;
  width: 100px;
  background-color: rgb(255, 190, 200);
  border-color: rgb(255, 255, 255);
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
:root {
  --background-color: rgb(100, 100, 100);
  --text-color: rgb(0,0,0);
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.dark-theme {
  --background-color: #383838;
  --text-color: #fff;
}
.dark-theme body {
  background-color: var(--background-color);
  color: var(--text-color);
}
